<script type="text/javascript">
$(document).ready(function() {
    // put all your jQuery goodness in here.
    $('button.show_tags').click(function() {
       $('div#tag_list').append('Boo!');
       return false;
    });
});
</script>
</head>
[% IF error %] <div class="error">
[% error %]
</div>
[% END %]
     <form name='tag_select' action="#" method="post">
     <table>
     <tr><th class="data">File</th></tr>
     <input type="hidden" name="orig_search" value='[% USE JSON; c.req.params.tag.json %]'>          
     [% FOREACH i IN docs %]
         <tr><td class="data"> <input type="hidden" name="doc" value="[% i %]">  [% i %] </td></tr>
     [% END %]
     <tr><td class="data"><button class="show_tags">Show Tags</button></td></tr>
     </table>
     </form>
<div id="tag_list"></div>