<script type="text/javascript">
[% PROCESS annotate/js.tt %]
</script>
</head>
[% FOREACH res IN results %]
[% NEXT IF c.req.params.empty_only == 1 && res.notes.note %]
<h4><a target="_blank" href="[% c.uri_for('/docs', res.path) %]">[% res.path.join('/') %]</a></h4>
<pre style="max-height: 30em; overflow: auto border: 1px solid blue">
[% res.txt %]
</pre>
<form class="annotate" action="do_annotate" method="post" name="[% res.path %]">
<input type="hidden" name="file" value="[% res.path %]">
<input type="hidden" name="code" value="[% code %]">
<textarea name="notes" style="height: 10em; width: 72em
[%- IF res.notes.status == 'outdated'; %]class="outdated"[% END -%]">
[%- res.notes.note -%]
</textarea>
<br><input type="submit" value = "Save Notes">
</form>
</p>
<hr><br>
[% END %]
