[% MACRO render_menu(corpus) BLOCK  -%]
<ul>
<li>[% render_submenu(corpus) %]</li>
</ul>
[% END %]

[%- MACRO render_submenu(node) BLOCK -%]
[%- FOREACH this_item IN node.getAllChildren -%]

<li id="[% this_item.getNodeValue() %]"><h3>[% this_item.getMetaDataFor('description') %] </h3> ([% this_item.getNodeValue() %]). 
<form action="[% c.uri_for(annotate_code, this_item.getNodeValue()) %]" method="get">
[% FOREACH group IN groups; SET row = loop.index %]
[% FOREACH g IN group %]
<input type="checkbox" name="[% row %]" value="[% g %]">[% g %]</input>
[% END %]
<br>
[% END %]
<input type="checkbox" name="empty_only" value='1'>Empty notes only?</input>
<input type="submit" value="Annotate '[% this_item.getMetaDataFor('description') %]'">
</form>
[% IF this_item.getAllChildren.size %]   <ul> [% render_submenu(this_item) %] </ul> [% END %]  </li> 
[%- END -%]
</ul>
[%- END -%]



