[% MACRO render_menu(corpus) BLOCK  -%]
[% node = corpus.doctree; pathfinder = corpus.pathfinder %]
<div id="sidetree">
<form name='doc_select' action="[% c.uri_for('/docs/search') %]" method="post">
<input type="hidden" name="doc" value="_remove">
<div id="sidetreecontrol"><a href="#">Collapse All</a> | <a href="#">Expand All</a></div>
<ul id="tree">
[% all_nodes(node) %]
<input type="submit" value="search">
</form>
</div>
[% END %]

[% MACRO all_nodes(node) BLOCK %]
[% render_submenu(node) %]
[%- END -%]
[%- MACRO render_submenu(node) BLOCK -%]
[%- FOREACH item IN node.getAllChildren -%]
[% SET visitor = item.accept(pathfinder) %]   <li> <input type="checkbox" name="[% visitor.join('/') %]"> <a href="[% c.uri_for( 'docs', visitor.join('/') )%]"> [% item.getNodeValue %] </a> [% IF item.getAllChildren.size %] <ul> [% render_submenu(item) %] </ul> [% END %]  </li> 
[%- END -%]
[%- END -%]
</ul>

