[% SET colours = [
'cyan',
'darkkhaki',
'fuchsia',
'gold',
'lightgoldenrodyellow',
'lime',
'mediumpurple',
'mediumseagreen',
'mediumvioletred',
'olive',
'orange',
'orchid',
'palegreen',
'peru',
'pink',
'red',
'royalblue',
'silver',
'skyblue',
'slategray',
'tan',
'teal',
'tomato',
'white',
'yellow',
'yellowgreen',
] %]