[% # -*- mode:javascript -*- %]
    <script type="text/javascript">

$(document).ready(function() {
    [% USE JSON (pretty => 1) %] var params = [% c.req.params.json %];

    $(".data").each(

        function (index) {
            var data_node = $(".data")[index];
            var current_code = $(data_node).parent().attr('class');
            var xml_data = $(data_node).html();
            alert(xml_data);
            return false;
            var display_node = $(".display")[index];
            $(display_node).append(xml_data);
            
        }
    );
});


</script>