[% MACRO render_menu(corpus) BLOCK  -%]
<ul id="tree">
[% all_nodes(corpus) %]
</div>
[% END %]

[% MACRO all_nodes(node) BLOCK %]
[% render_submenu(node) %]
[%- END -%]

[%- MACRO render_submenu(node) BLOCK -%]
[%- FOREACH item IN node.getAllChildren -%]
[% NEXT IF item.getNodeValue == "descr.txt" %]
<li> [% print_metadata(node) %] 
[% IF item.getAllChildren.size %]   <ul> [% render_submenu(item) %] </ul> [% END %]  </li> 
[%- END -%]
[%- END -%]
</ul>


[% MACRO print_metadata(node) BLOCK -%]
[% FOREACH i IN item.getAllChildren %]
[% NEXT IF i.getNodeValue != 'descr.txt' %]
<h3>[% i.meta_data.description %]  </h3>
[% SET cmps = i.getMetaDataFor('comparisions') %]
[% IF i.getMetaDataFor('observations') > 0 %]
<table class="summary">
<tr><th>Job</th>
[% FOREACH cm IN cmps.keys; %]
<th> [% cm %] </th>
[% END %]</tr>

[% rows = cmps.$cm.keys %]
[% FOREACH row IN rows %]
<tr><td class="[% row %]" > [% row %] </td>
[% FOREACH cm IN cmps.keys %]
<td class="[% row %]">
[% FOREACH person IN cmps.$cm.$row %]
 [% IF person.uri %]

<div class="context">
<a class="context" style="font-size:0.8em" href="#">show/hide transcript</a>
<span style="display:none; position:fixed; top:0px; right:0px; border: 3px solid black; background: #fff; width: 30%; height: 500px; overflow: auto;"> <h4 style="text-align: center">[% i.meta_data.description _ " | " _ row  _ " | "  _ cm %]</h4><hr style="width: 80%">[% c.subreq(person.snippet) %]</span>
</div>
<ul>[% FOREACH r IN person.summary %] <li> [% r %] </li> [% END %] </ul>   </div> [% END %]
[% END %]
</td>
[% END %]
</tr>
[% END %]
<tr><td colspan=3><h3>Notes</h3><p> ... </p></td></tr>
</table>
[% END %]
[% END %]
[% END %]
