[%- PROCESS summaries/colours.tt -%]
<head>
<!--[if IE]><script src="http://www.uow.edu.au/~kd21/uploads/excanvas.compiled.js"></script><![endif]-->
</head>
<script type="text/javascript">
</script>
<style type="text/css">
[% FOREACH category IN comparisons.categories; colour_index = loop.count mod loop.size -%]

table.summary td.[% category.replace('\.txt$','') FILTER upper %] { background : [% colours.${colour_index} %] ; }
   [% END %]
</style>

<script type="text/javascript">
$(document).ready(function() {
[% FOREACH category IN comparisons.categories; colour_index = loop.count mod loop.size -%]
   $('#[% category.replace('\.txt$','') FILTER upper %]').click( function() {
    $('table.summary td.[% category.replace('\.txt$','') FILTER upper %]').toggle(); return false;
   });
[% END %]

   $('a.context').click(function() {
       $(this).parent().children('span').toggle(); return false;
   });


});


</script>

</head>
<body>
<div class="unit">
<div class="unit on-2 columns">  
    <div class="container" style="width:800px;">
        <div style="position: fixed; margin-left: 800px; float: right; border: 1px solid black; padding: 1em;">
        ... sidebar menu
        </div>
        <div class="fixed column" style="width:650px;">  
        <h2> Search Summary </h2>
        [% FOREACH p IN c.req.params; NEXT IF p.values.list.last == "submit"  %]
        Level [% loop.count %]: [% p.values.list.first.join(',&nbsp;') %] <br>
        [% END %]
        <a href="[% c.req.uri %]">Saved Search</a>
        [%# PROCESS summaries/search_form.tt %]
        <h2> Tabular report here </h2>
        [% USE dumper; dumper.dump_html(tags) %]
        [% PROCESS summaries/report.tt %]
        [% render_menu(report) %]
        </div>  
    </div>  
 </div>  



