[%- PROCESS summaries/colours.tt -%]
<head>
<!--[if IE]><script src="http://www.uow.edu.au/~kd21/uploads/excanvas.compiled.js"></script><![endif]-->
</head>
<script type="text/javascript">
</script>
<style type="text/css">
[% FOREACH category IN groups.last; colour_index = loop.count mod loop.size -%]
table.summary tr.[% category %] { background : [% colours.${colour_index} %] ; }
   [% END %]
</style>

<script type="text/javascript">
$(document).ready(function() {
[% FOREACH category IN groups.last; -%]
   $('#[% category %]').click( function() {
    $('table.summary tr.[% category %]').toggle(); return false;
   });
[% END %]

   $('a.context').click(function() {
       $(this).parent().children('span').toggle(); return false;
   });

   $('a.context_hide').click(function() {
       $(this).parent().hide();
   });

});


</script>

</head>
<body>
<div class="unit">
<div class="unit on-2 columns">  
    <div class="container" style="width:800px;">
        <div style="position: fixed; margin-left: 800px; float: right; border: 1px solid black; padding: 1em;">
<ul stype="display: inline">
[% FOREACH category IN groups.last; %]
<li><a href="#" id="[% category %]">Show/Hide [% category %]</a></li> 
[% END %]
</ul>
        </div>
        <div class="fixed column" style="width:650px;">  
        <h2> Search Summary </h2>
        [% FOREACH p IN c.req.params;
           NEXT IF p.values.list.last == "submit";
           NEXT IF p.values.list.last.match('code') %]
        Level [% loop.count %]: [% p.values.list.first.join(',&nbsp;') %] <br>
        [% END %]
        [% IF c.req.params.all_codes ==1 %]
        All codes
        [% ELSE %]
        Codes included: [% included_codes.keys.join(' / ') %]
        [% END %]<br>
        <a href="[% c.req.uri %]">Saved Search</a>
        [%# PROCESS summaries/search_form.tt %]
        <h2> Report </h2>

        [% PROCESS summaries/report.tt %]
        <form action="#" method="post">
        [% render_menu(report) %]
        <input type="submit" value="Save Notes">
        </form>
        </div>  
    </div>  
 </div>  



