[% MACRO insert_cell_data(cell_contents) BLOCK %]
[% FOREACH content IN cell_contents %]
<div id="[% content.path.join('/') %]" class="coded_chunk">
<pre>[% content.txt.join("\n-----\n") %]</pre>
</div>
[% END %]
[% END %]

[% MACRO render_final_table(groupings, final_path) BLOCK %]
[% SET x = groupings.last; SET y = groupings.first; %]
<table class="summary">
<tr><th></th>[% FOREACH col IN y %]<th>[% col %]</th>[% END %]</tr>
[% FOREACH cell IN x %]
<tr class="[% cell %]"><td>[% cell %]</td>
[% FOREACH col IN y %] <td class="cell_data [% col %]">
[% insert_cell_data(cmp_model.get_results_for_node(final_path.merge([col, cell]))) %] </td> [% END %] </tr>
[% END %]
</table>
[% END %]

[% MACRO print_output(data, path_elements, inner_data) BLOCK; %]
<table> <tr>
[% current = data.0; remaining = data.slice(1); %]
[% FOREACH d IN current %]
<th>[% d %]</th>
[% END %] </tr>
<tr>
[% FOREACH d IN current %]
[% IF remaining.size > 0  %]
<td id="[% d %]">[% path_elements.push(d); print_output(remaining, path_elements); %]</td>
[% SET discard = path_elements.pop %]
[% ELSE %]
<td>[% path_elements.push(d); render_final_table(inner, path_elements);
       SET discard = path.elements.pop %]</td>
[% END %]
[% SET discard = path_elements.pop %]
[% END %]
</tr></table>
[% END %]


[% MACRO render_menu(corpus) BLOCK  -%]
<ul id="tree">
[% all_nodes(corpus) %]
</div>
[% END %]

[% MACRO all_nodes(node) BLOCK %]
[% render_submenu(node) %]
[%- END -%]

[%- MACRO render_submenu(node) BLOCK -%]
[%- FOREACH item IN node.getAllChildren -%]
[% NEXT IF item.getNodeValue == "descr.txt" %]
<li> [% print_metadata(node) %] 
[% IF item.getAllChildren.size %]   <ul> [% render_submenu(item) %] </ul> [% END %]  </li> 
[%- END -%]
[%- END -%]
</ul>

[% MACRO print_metadata(node) BLOCK -%]
[% FOREACH i IN item.getAllChildren %]
<li id="[% i.getNodeValue() %]"><h3>[% i.getMetaDataFor('description') %]</h3></li>
<div class="[% i.getNodeValue %]" >
<div class="display">
[% SET inner = groups.slice(-2,-1) %]
[% SET outer = groups.slice(0,-3)%]
[% SET path = [i.getNodeValue]; print_output(outer, path); %]
</div>
</div>
[% END %]
[% END %]

