[% MACRO render_final_table(groupings) BLOCK %]
[% SET x = groupings.last; SET y = groupings.first; %]
<table class="summary">
<tr><th></th>[% FOREACH col IN y %]<th>[% col %]</th>[% END %]</tr>
[% FOREACH cell IN x %]
<tr id="[% cell %]"><td>[% cell %]</td>
[% FOREACH col IN y %] <td id="[% col %]"> </td> [% END %] </tr>
[% END %]
</table>
[% END %]

[% MACRO process_groups(line, inner) BLOCK %]
<table>
<tr>
[% FOREACH l IN line %]
<th> [% l %]</th>
[% END %]
</tr><tr>
[% FOREACH l IN line %]
<td id="[% l %]">[% inner %]</td>
[% END %]
</tr>
</table>
[% END %]

[% MACRO render_menu(corpus) BLOCK  -%]
<ul id="tree">
[% all_nodes(corpus) %]
</div>
[% END %]

[% MACRO all_nodes(node) BLOCK %]
[% render_submenu(node) %]
[%- END -%]

[%- MACRO render_submenu(node) BLOCK -%]
[%- FOREACH item IN node.getAllChildren -%]
[% NEXT IF item.getNodeValue == "descr.txt" %]
<li> [% print_metadata(node) %] 
[% IF item.getAllChildren.size %]   <ul> [% render_submenu(item) %] </ul> [% END %]  </li> 
[%- END -%]
[%- END -%]
</ul>

[% MACRO print_metadata(node) BLOCK -%]
[% FOREACH i IN item.getAllChildren %]
<li id="[% i.getNodeValue() %]"><h3>[% i.getMetaDataFor('description') %]</h3></li>
<div class="[% i.getNodeValue %]" >
<div class="data" style="display:none">
<xml id="[% i.getNodeValue%]">
[%  i.getMetaDataFor('node_data') %]
</xml>
</div>
<div class="display">
[% SET last_two = groups.slice(-2,-1) %]
[% SET groups_head = groups.slice(0,-3)%]
[% SET inner  = render_final_table(last_two); %]
[% WHILE (row = groups_head.pop) %]
[% inner = process_groups(row, inner) %]
[% END %]
[% inner %]
</div>
</div>
[% END %]
[% END %]

